/* Main CSS */
table {
    border-collapse:collapse;
}
table, th, td {
    border: 3px solid black;
}
th, td {
    height: 100px;
    width: 100px;
}
td {
    text-align: center;
    font-family:"Calibri",monospace;
}
h1 {
    text-align: center;
    vertical-align: bottom;
}
h1 img {
    vertical-align: bottom;
}

.clicked {
    background: #02975c;
}

#footer {
    clear: both;
    background-color: #b1b1b1;
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #02975c;
}
